In [7]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [9]:
url = 'https://aviation-safety.net/statistics/period/stats.php?cat=A1'
response = requests.get(url)
response

In [10]:
with open('Aviation Safety Network _ Statistics _ By period.html') as f:
    dump = f.read()

In [14]:
soup = BeautifulSoup(dump)

table = soup.find('table')

rows = table.find_all('tr')
th = rows[0].find_all('th')
columns = [i.text for i in th]

data = []
for tr in rows[1:]:
#     td = tr.find_all('td')
    row = [i.text for i in tr]
    data.append(row)

[['2021', '20', '176', '10', '42', '3', '0'],
 ['2020', '8', '137', '13', '36', '0', '0'],
 ['2019', '23', '289', '9', '30', '4', '1'],
 ['2018', '18', '561', '7', '26', '1', '0'],
 ['2017', '14', '59', '7', '24', '0', '0'],
 ['2016', '17', '258', '5', '20', '2', '0'],
 ['2015', '14', '186', '9', '40', '0', '0'],
 ['2014', '20', '692', '12', '54', '3', '0'],
 ['2013', '28', '232', '8', '23', '1', '0'],
 ['2012', '23', '476', '6', '26', '3', '2'],
 ['2011', '36', '525', '4', '16', '1', '0'],
 ['2010', '32', '943', '5', '18', '1', '0'],
 ['2009', '32', '763', '4', '11', '5', '0'],
 ['2008', '35', '595', '9', '39', '3', '0'],
 ['2007', '32', '774', '9', '21', '6', '0'],
 ['2006', '33', '905', '13', '51', '3', '0'],
 ['2005', '40', '1075', '6', '23', '1', '0'],
 ['2004', '35', '462', '8', '31', '4', '0'],
 ['2003', '34', '705', '11', '25', '9', '0'],
 ['2002', '42', '1002', '8', '21', '10', '2'],
 ['2001', '36', '879', '9', '37', '11', '268'],
 ['2000', '43', '1148', '8', '20', '27', '5'],
 ['1999', '46', '480', '9', '37', '13', '2'],
 ['1998', '47', '1194', '6', '15', '14', '1'],
 ['1997', '47', '1164', '10', '31', '12', '1'],
 ['1996', '57', '1844', '11', '64', '17', '125'],
 ['1995', '59', '1209', '12', '59', '12', '1'],
 ['1994', '58', '1446', '10', '49', '27', '8'],
 ['1993', '51', '1135', '7', '33', '36', '4'],
 ['1992', '60', '1513', '6', '31', '11', '4'],
 ['1991', '54', '1151', '14', '77', '20', '6'],
 ['1990', '48', '638', '9', '31', '38', '86'],
 ['1989', '65', '1535', '6', '18', '15', '1'],
 ['1988', '59', '1149', '10', '30', '15', '12'],
 ['1987', '46', '1111', '9', '36', '13', '2'],
 ['1986', '45', '828', '9', '33', '16', '87'],
 ['1985', '42', '2010', '12', '40', '25', '65'],
 ['1984', '40', '683', '10', '38', '27', '33'],
 ['1983', '36', '862', '8', '34', '34', '11'],
 ['1982', '38', '1179', '6', '41', '32', '1'],
 ['1981', '46', '899', '8', '30', '30', '6'],
 ['1980', '48', '1294', '11', '28', '39', '1'],
 ['1979', '78', '1778', '8', '31', '25', '0'],
 ['1978', '65', '1263', '6', '18', '26', '4'],
 ['1977', '62', '1652', '12', '52', '32', '114'],
 ['1976', '67', '1638', '9', '46', '16', '15'],
 ['1975', '58', '1199', '4', '9', '20', '2'],
 ['1974', '70', '1997', '10', '39', '20', '83'],
 ['1973', '71', '2033', '8', '31', '22', '87'],
 ['1972', '75', '2389', '7', '27', '59', '22'],
 ['1971', '52', '1445', '6', '23', '54', '8'],
 ['1970', '78', '1475', '7', '17', '78', '7'],
 ['1969', '71', '1676', '8', '33', '86', '5'],
 ['1968', '66', '1398', '6', '23', '29', '1'],
 ['1967', '66', '1344', '3', '7', '5', '1'],
 ['1966', '63', '1467', '4', '10', '4', '2'],
 ['1965', '58', '1159', '5', '14', '5', '1'],
 ['1964', '49', '1016', '1', '3', '1', '0'],
 ['1963', '57', '1263', '1', '0', '1', '0'],
 ['1962', '74', '1774', '5', '16', '2', '0'],
 ['1961', '64', '1344', '0', '0', '12', '3'],
 ['1960', '75', '1484', '0', '0', '8', '3'],
 ['1959', '71', '1068', '1', '3', '6', '1'],
 ['1958', '76', '1235', '1', '0', '9', '19'],
 ['1957', '76', '977', '0', '0', '0', '0'],
 ['1956', '58', '850', '0', '0', '2', '1'],
 ['1955', '64', '630', '0', '0', '0', '0'],
 ['1954', '56', '707', '0', '0', '3', '2'],
 ['1953', '74', '977', '0', '0', '1', '0'],
 ['1952', '61', '783', '0', '0', '3', '2'],
 ['1951', '69', '948', '0', '0', '1', '0'],
 ['1950', '71', '1124', '0', '0', '4', '0'],
 ['1949', '81', '1109', '0', '0', '7', '1'],
 ['1948', '98', '1304', '0', '0', '7', '26'],
 ['1947', '81', '1072', '0', '0', '0', '0'],
 ['1946', '73', '820', '0', '0', '0', '0'],
 ['1945', '39', '333', '0', '0', '0', '0'],
 ['1944', '41', '333', '0', '0', '0', '0'],
 ['1943', '38', '303', '0', '0', '0', '0'],
 ['1942', '30', '337', '0', '0', '0', '0']]

In [15]:
crash = pd.DataFrame(data, columns=columns)
crash

,Year,Airliner Accidents,Airliner Fatalities,Corp. jet Accidents,Corp. jet Fatalities,Hijackings,Hijacking Fatalities
0,2021,20,176,10,42,3,0
1,2020,8,137,13,36,0,0
2,2019,23,289,9,30,4,1
3,2018,18,561,7,26,1,0
4,2017,14,59,7,24,0,0
...,...,...,...,...,...,...,...
75,1946,73,820,0,0,0,0
76,1945,39,333,0,0,0,0
77,1944,41,333,0,0,0,0
78,1943,38,303,0,0,0,0
79,1942,30,337,0,0,0,0

In [16]:
crash.to_csv('crash.csv', index=False)